<!DOCTYPE html>
<html>
    <head>
        <link href="style.css" rel="stylesheet" type="text/css"></link>
        <meta charset="utf-8">
        <title>Mon beau CV</title>
    </head>
    <body>
        <div id="content">
            <div class="photo">
                <img src="logo.png" alt="oups, pas d'image" />
            </div>
            <h1>Mon beau CV</h1>
            <h2>Yannick Dominguez</h2>
            <p>Bienvenue sur mon site CV</p>
            <ul>
              {{#experiences}}
              <li>{{year}} - {{description}}</li>
              {{/experiences}}
            </ul>
            <div>
                <a href="contact.html">Contactez moi</a>
            </div>
        </div>
    </body>
</html>

